# List Datatype [    ]

In [1]:
# List is a collection of items in particular order

In [2]:
Students = ['Akshay','Umair','Ram','Satya']

In [4]:
print(Students)

['Akshay', 'Umair', 'Ram', 'Satya']

In [5]:
type(Students)

list

Indexing

In [6]:
# Indexes will be staring from 0,1,2,3,......

In [8]:
print(Students)

['Akshay', 'Umair', 'Ram', 'Satya']

In [9]:
print(Students[2])

Ram

In [10]:
# Changing , addind & removing elements in the list.

In [11]:
Students

['Akshay', 'Umair', 'Ram', 'Satya']

In [14]:
Students[3] = 'Shyam'

In [15]:
Students

['Akshay', 'Umair', 'Ram', 'Shyam']

In [16]:
 Students.append('Rinku')   #append = element will be added at the last place in the list.

In [17]:
Students

['Akshay', 'Umair', 'Ram', 'Shyam', 'Rinku']

In [18]:
#aading name to custom position

In [19]:
Students.insert(2,'Ajay')

In [20]:
Students

['Akshay', 'Umair', 'Ajay', 'Ram', 'Shyam', 'Rinku']

In [21]:
#To remove element from the list

In [25]:
del Students[5]

In [26]:
Students

['Akshay', 'Umair', 'Ajay', 'Ram', 'Shyam']

In [28]:
# pop method = removing last element by default

In [29]:
x = Students.pop()

In [30]:
Students

['Akshay', 'Umair', 'Ajay', 'Ram']

In [31]:
print(x)

Shyam

In [33]:
y = Students.pop(1)

In [34]:
Students

['Akshay', 'Ajay', 'Ram']

In [35]:
print(y)

Umair